// file: /home/pi/.Config/PI_BB20.config
	hostname:	PI_BB20.config
	eth0_IP:	192.168.250.20
	eth0_network:	192.168.250.0
	eth0_subnet:	255.255.255.0
	HUB_IP:		192.168.250.1
	HUB_upload_folder:		/home/Hub/Logs/PI_BB20/	
	log_suffix:			.log
	USB_mount_folder:		/home/sapien/USB_drive
	local_Profiles:			/home/Sapien/Profiles
	external_profiles(flash drive): %FLASH_DRIVE/Profiles
	environment variables:
		hostname:		PI_BB20
		socket_port#:		2020	
		HUB_IP_ADDR:		192.168.250.1
		cal_file_location:	/.Calibration/
		flash_drive:
